@page "/"

<div class="bubble-wrap">
    <GodBubbles />
    <Container Class="sn-home-intro-container">
        <div class="sn-home-intro-text">
            <span>The only app to track your <span class="sn-home-intro-smite">SMITE</span> night!</span>
            <p>We wanted to track a single SMITE session, instead of digging through some boring old lifetime statistics. So we build <b>Smitenight.com</b> to do that for you! Enter your playername and start your own smitenight!</p>
        </div>
        <div class="sn-home-intro-card">
            <SmitenightBox />
        </div>
    </Container>
</div>
