@page "/"

<div class="sn-home">
    <h1>Welcome to Smitenight.com</h1>
    <p>Image playing SMITE and you just want to know how well you did in your current session.<br />Use the text field below to enter your SMITE user name and start your SMITE night.</p>
    
    <Row>
        <Column ColumnSize="ColumnSize.Is11">
            <TextEdit Placeholder="Enter your SMITE username here..."/>
        </Column>
        <Column ColumnSize="ColumnSize.Is1">
            <Button Color="Color.Success">Start!</Button>
        </Column>
    </Row>
</div>