@keyframes godsAnimation {
    0% {
        top: 70%;
        opacity: 0;
    }

    26% {
        opacity: 0.5;
    }

    52% {
        opacity: 0;
    }

    100% {
        top: -100%;
    }
}

.godBubble {
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), inset 0px 10px 30px 5px rgb(165, 165, 250);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), inset 0px 10px 30px 5px rgb(139, 139, 236);
    position: absolute;
    height: 512px;
    width: 380px;
}

#bubble-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -2;
    background: linear-gradient(65deg, rgba(255,255,255,0), rgba(0,0,0,0.25));
}