/*@keyframes godsAnimation {
    0% {
        top: 70%;
        opacity: 0;
    }

    26% {
        opacity: 0.5;
    }

    52% {
        opacity: 0;
    }

    100% {
        top: -100%;
    }
}

.godBubble {
    -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), inset 0px 10px 30px 5px rgb(165, 165, 250);
    -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2), inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.5), inset 0px 10px 30px 5px rgb(139, 139, 236);
    position: absolute;
}

.bubble-wrap {
    width: 100%;
    height: 100%;
    position: relative;
}

@media (min-width: 0) {
    .godBubble {
        height: 200px;
        width: 150px;
    }
}

@media (min-width: 576px) {
    .godBubble {
        height: 278px;
        width: 209px;
    }
}

@media (min-width: 768px) {
    .godBubble {
        height: 356px;
        width: 267px;
    }
}

@media (min-width: 992px) {
    .godBubble {
        height: 434px;
        width: 326px;
    }
}

@media (min-width: 1200px) {
    .godBubble {
        height: 512px;
        width: 380px;
    }
}*/