.sn-box {
    width: 75%;
    color: white;
    background: #343a40 !important;
    border-radius: 10px !important;
    position: relative;
    opacity: 0.95;
    top: 35%;
    transform: translateY(-35%);
    margin: auto;
}

.sn-box-pin {
    display: none;
}

.sn-box-loader {
    display: none;
}