@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <Bar @bind-Visible="@_topBarVisible" Class="sn-bar" Breakpoint="Breakpoint.Tablet" Background="Background.Dark" ThemeContrast="ThemeContrast.Dark" Shadow="Shadow.Default">
            <Container>
                <BarBrand Class="sn-bar-brand">
                    <BarItem>
                        <BarLink To="">Smitenight.com BETA</BarLink>
                    </BarItem>
                </BarBrand>
                <BarToggler />
                <BarMenu>
                    <BarEnd>
                        <BarItem>
                            <BarLink To="about">About</BarLink>
                        </BarItem>
                    </BarEnd>
                </BarMenu>
            </Container>
        </Bar>
    </LayoutHeader>
    <LayoutContent>
        @Body
    </LayoutContent>
    <div class="sn-home-footer">
        Brivy - 2022
    </div>
</Layout>
